@font-face {
  font-family: Prompt;
  src: url(/fonts/prompt.ttf);
}

@font-face {
  font-family: Zekton;
  src: url(/fonts/zekton.otf);
}

  html {
    background-color: #221f30;  
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

h1,h2,h3 {
  font-family: "Prompt";
  color: #fff;
}

h4,h5,p,a {
  font-family: "Zekton";
  color: white;
}

#proxyFrame {
  border: none;
  resize: both;
  text-align: center;
  justify-content: center;
}

#uv-address {
  background-color: transparent;
  border: 1.5px #ffffff solid;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  color: black;
  font-family: "Zekton";
  outline: none;
  transition: hover .2s;
  width: 270px;
  padding-left: 40px;
}

#uv-address:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .2s;
}

.bookmarks {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  justify-content: space-between;
}

.bookmarks img {
  border-radius: 25px;
  width: 100px;
  height: 100px;
}

.bookmarks img:hover {
  transition: .2s;
  transform: scale(1.1);
}

.bookmarks p:hover {
  transform: scale(1.1);
  transition: .3s;
}

.svg {
  filter: invert(1);
  width: 30px;
  height: 30px;
}

.svg:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .3s;
  filter: invert(.4);
}

#title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 200px; 

#madewithlove {
  opacity: .4;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

#more {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 17px;
  margin-right: 10px;
}

#more:hover {
  transform: scale(1.1);
  transition: .3s;
}

nav {
  display: flex;
  align-items: center;
  background-color: #1c2020;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  height: 50px;
  border-radius: 14px;
  width: 500px;
}


nav button {
  background-color: #000000;
  color: white;
  border-radius: 16px;
  padding: 10px 20px;
  align-items: right;
  border-radius: 8px;
  font-family: "Zekton";
  border: 2px solid white;
  margin-left: 5px;
}

button:hover {
  filter: invert(1);
  transform: scale(1.1);
  transition: .2s;
}

button {
  background-color: #000000;
  color: white;
  border-radius: 16px;
  padding: 10px 20px;
  align-items: right;
  border-radius: 8px;
  font-family: "Zekton";
  border: 2px solid white;
  margin-left: 5px;
  margin-bottom: 10px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.75;
}